.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul,ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.button {
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ------------common----------- */

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
    }
}

/* ----------header---------- */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.header-logo .logo-part {
    color: #2e2f42; 
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.mobile-menu-button {
    background-color: transparent;
    border: none;
    padding: 0;
    fill: #2f2f37;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,   
.contacts-link:focus,
.nav-link.current {          
    color: #404bbf;
}

@media screen and (min-width: 768px) {
    .mobile-menu-button {
        display: none;
    }
    
.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}

.header-nav, logo-part {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;   
}

.nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}



.contacts {
    font-style: normal;
    display: block;
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .header-logo {
        padding: 24px 0;
        margin-right: 76px;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;   
    }
.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
}

.contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

}

/*----------mobile-menu----------*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 999;
}   

.mobile-menu-container {
    position: relative;
    height: 100%;
    padding-top: 72px; 
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.mobile-menu-close  {
position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 8px;
    height: 8px;
}

.mobile-menu-nav {
    margin-bottom: auto;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.current {
    color: #404BBF;
}

.mobile-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mobile-contacts-link {
    color: #4d5ae5;
}

.contacts-link {
    color: #434455 ;
}

.mobile-social-list {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
    
}

/* ----------hero-------- */

.hero {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
    .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office-mob-2x.jpg');
    }   
}


.hero-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 216px;
    color: #fff;
    margin: 0 0 72px 0;
}

.hero-button, 
.modal-form-submit {
    font-weight: 500;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-size: 16px;    
    line-height: 1.5;   
    letter-spacing: 0.04em; 
    color: #fff;    
    background-color: #4d5ae5;  
    cursor: pointer;
    display: block;
    text-align: center; 
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .hero {
        min-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), 
            url(../images/people-office-tab-1x.jpg);
    }

    @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
        .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url('../images/people-office-tab-2x.jpg');
        }
    }

    .hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    color: #fff;
    margin-bottom: 36px;
}
}

@media screen and (min-width: 1158px) {
    .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
        url(../images/people-office-1x.jpg);
    }

    @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {    
        .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)), 
            url('../images/people-office-2x.jpg');
        }
    }

    .hero-title {
        margin-bottom: 48px;
}

}


/* ------------Features section--------- */


.section-features {
    padding: 96px 0;
}

.features-list {
    display: flex;
    flex-wrap: wrap;    
    gap: 72px;
}

.features-item {
    width: 100%;
}

.features-icon-container {
    display: none;
}

.features-title-mobile {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0 0 8px 0;
}

.features-text-mobile {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .features-item {
    width: calc((100% - 24px) / 2);
}

.features-list {
    gap: 72px 24px;
}

.features-title-mobile {
    text-align: start;
}

}

@media screen and (min-width: 1158px) {
    .section-features {
        padding: 120px 0;
    }

    .features-list {
        gap: 24px;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }

    .features-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}

.features-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features-title-mobile {
    font-weight: 500;           
    font-size: 20px;
    line-height: 1.2;
}

.features-text-mobile {
    font-weight: 400;
}

}

/* -----------------team---------------- */

.team {
    background-color: #f4f4fd;
    padding: 96px 0;
    }

.team-container {
    padding: 0 28px;
    justify-items: center;
}

.features {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;    
    gap: 72px;
}

.team-list {
    text-align: center;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-container {
    padding: 32px 0px;
}

.features-title {
    font-weight: 500;           
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0 0 8px 0;
}

.features-text {            
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0 0 8px 0;
}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .features-list {
    gap: 72px 24px;
}

.team-container {
    padding: 0 108px;
}
}

@media screen and (min-width: 1158px) {
    .team {
    padding: 120px 0;
}

.features-list {
    gap: 24px;
    flex-wrap: nowrap;
}

.team-container {
    padding: 0 15px;
}
}

/* -----------------Portfolio---------------- */

.portfolio {
    padding: 96px 0;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    flex-direction: row;
    row-gap: 48px;
}

.portfolio-list {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
.portfolio-images {
    position: relative;
    overflow: hidden;
}

.portfolio-background-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-features-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-list:hover .portfolio-background-text,
.portfolio-list:focus .portfolio-background-text {
    transform: translateY(0);
}

.portfolio-list:hover,
.portfolio-list:focus {  
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
    .portfolio-container {
    row-gap: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
    }

    .portfolio-container {
    row-gap: 48px;
    }
    .portfolio-list {
    box-shadow: none;
    }
}

  /* -----------footer------------ */

.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}
.footer-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}

.footer-social-text {    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
}

.social-list-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.social-link-footer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;
}


.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.subscribe-input {  
    width: 288px;   
    height: 40px;
    border: 1px solid #FFFFFF;  
    border-radius: 4px; 
    background-color: transparent;
    padding: 8px 16px;
    color: #FFFFFF;  
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button {
    min-width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404bbf;
}

.subscribe-icon {
    margin-left: 16px;
    fill: #ffffff;
}

.subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #ffffff;
}

@media screen and (min-width: 768px) {
.footer-container {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
    padding-left: 108px;
}

.footer-logo {
    justify-content: start;
}

.footer-text {
    max-width: 264px;
}

.footer-social-text {
    text-align: start;
}

.subscribe-form {
    flex-direction: row;
}

.subscribe-text {
    text-align: start;
}

.subscribe-input {
    max-width: 264px;
}
}

@media screen and (min-width: 1158px) {
.page-footer {
    padding: 100px 0;
}


.footer-container {
    padding: 0 16px;
    gap: 0;
}

.footer-logo-container {
    display: inline-block;
    margin-right: 120px;
}

.footer-social-container {
    display: inline-block;
    
}

.subscribe-container {
    margin-left: 80px;
}

.subscribe-form {
    gap: 24px;
}

}

/* -----------------modal---------------- */

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    padding: 72px 16px 24px 16px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    line-height: 0;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
    text-align: center;
}

.modal-label {
    margin-bottom: 8px;
}

.modal-form-field {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    padding-top: 0; 
}

.modal-form-input {
    position: relative;
}

.modal-form-box {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 34px;
    box-sizing: border-box;
}

.modal-form-icon {    
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
} 

.modal-form-box:focus+svg,
.modal-form-box:hover+svg {
    fill: #4d5ae5;
}

.modal-form-box:focus,
.modal-form-box:hover,
.modal-form-message:focus,
.modal-form-message:hover {
    outline: none;    
    border-color: #4d5ae5;
}

.modal-label-comment {
    margin-bottom: 16px;
}

.modal-form-message {       
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    width: 100%;    
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    resize: none;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
    font-weight: 400;           
    font-size: 12px;                    
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-label-checkbox {
    margin-bottom: 24px;
}

.modal-form-check {
    font-weight: 400; 
    cursor: pointer;
}

.modal-form-check-desc {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-form-check-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    flex-shrink: 0;   
}

.accept-policy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-form-policy-link {
    line-height: 1.33; 
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-form-check:checked + .modal-form-check-desc > .modal-form-check-icon {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
} 

.modal-form-submit:hover,    
.modal-form-submit:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}